.FormTre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    justify-content: center;
}
.Tre__Form__Lab {
    border-radius: 20px 0;
    padding: 2px 25px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px 2px rgba(0, 108, 255, 0.89);
    font-size: 18px;
}
.Tre__Form__In {
    border-radius: 0 20px;
    padding: 3px 25px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px silver;
    letter-spacing: 3px;
    transition: all 0.2s ease-in-out;
}
.Tre__Form__In:focus {
    border-radius: 20px 0;
    padding: 4px 34px;
    box-shadow: 2px 2px 2px 2px rgba(0, 108, 255, 0.93);
    transition: all 0.2s ease-in-out;
}
.Tre__Form__errMas {
    align-items: center;
    font-size: 15px;
    box-shadow: 2px 2px 2px 2px #f60606;
    display: block;
    width: 200px;
    height: 20px;
    color: crimson;
    font-weight: bold;
}
.Tre__Form__Btn {
    padding: 8px 20px;
    border: none;
    background-color: lawngreen;
    color: snow;
    border-radius: 20px 2px;
    box-shadow: 2px 2px 2px 2px silver;
    transition: all 0.3s ease-in-out;
}
.Tre__Form__Btn:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.2);
    border-radius: 2px 20px;
}